{% extends 'base.html.twig' %}

{% block title %}
    Indice video
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>Indice video</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Path</th>
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.id }}</td>
                        <td><a href="{{ path('video', {'id': file.id}) }}">{{ file.name }}</a></td>
                        <td>{{ file.path }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}